.footer{
  height: 60px;
}

.footer-wrapp{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 8px;
  background-color: #fff;
}

.footer-message{
  font-size: 40px;
  color: #000;
  margin-right: 10px;
}